/* Navbar */
nav {
    display: flex;
    width: 90vw;
    height: 9vh;
    margin: 0.8rem auto;
    align-items: center;
    top: 0;
    position: sticky;
    background: var(--teal-color);
    z-index: 10;
    border-radius: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 50px;
    margin: auto;
}

nav h1 {
    margin: 0 50px 0 50px;
    cursor: pointer;
    font-size: 2rem;
}

nav ul li {
    cursor: pointer;
}

nav ul li a {
    text-decoration: none;
    color: var(--light-green-color);
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: var(--dark-color);
    transition: width 0.3s ease;
}

nav ul li a:hover {
    color: var(--dark-color);
}

nav ul li a:hover::after {
    width: 100%;
}
