/* Section Layout */
.section {
    position: relative;
    height: 84vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

/* Central Image */
.section img {
    width: 300px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin: 2rem;
}

/* Button Positions */
#btn1 { top: 5%; left: 14%; }
#btn2 { top: 5%; right: 14%; }
#btn3 { bottom: 5%; left: 14%; }
#btn4 { bottom: 5%; right: 14%; }

/* Line Styling */

.line{
    position: absolute;
    background: var(--teal-color);
    height: 3px;
    z-index: 1;
    overflow: hidden;
}

#line1 {
    top: 29.2%;
    left: 10.5%;
    rotate: 270deg;
    width: 235px;
}
#line2 {
    top: 29.2%;
    right: 10.5%;
    rotate: 270deg;
    width: 235px;
}
#line3 {
    bottom: 28.8%;
    left: 10.5%;
    rotate: 90deg;
    width: 235px;
}
#line4 {
    bottom: 28.8%;
    right: 10.5%;
    rotate: 90deg;
    width: 235px;
}
#line5 {
    top: 48%;
    left: 50%;
    width: 31.39vw;
}

#line6 {
    top: 48%;
    right: 50%;
    width: 31.39vw;
    rotate: 180deg;
}
#line7 {
    top: 52%;
    left: 50%;
    width: 31.39vw;
}
#line8 {
    top: 52%;
    right: 50%;
    width: 31.39vw;
    rotate: 180deg;
}



.line::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 10px;
    background: var(--light-green-color);
    border-radius: 50%;
    transform: translateX(-100%);
    transition: none;
}

#line1::after, #line2::after, #line3::after, #line4::after {
    top: 0;
    left: 0;
    transform: translateX(-100%);
    animation: pulse-outward 3s linear infinite;
    animation-delay: 3s;
}

@keyframes pulse-outward {
    0% {
        left: 0; 
    }
    100% {
        left: 100%;
    }
}

#line5::after, #line6::after, #line7::after, #line8::after {
    top: 0;
    right: 0;
    transform: translateX(100%);
    animation: pulse-outward 3s linear infinite;
}
