:root {
    --dark-color: #243642;
    --teal-color: #387478;
    --light-green-color: #E2F1E7;

    --heading-font: 'Roboto', sans-serif;
    --body-font: 'Poppins', sans-serif;

    --section-padding: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--light-green-color);
}

html,
body {
    font-family: var(--body-font);
    color: var(--light-green-color);
    background-color: var(--dark-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: #fff;
}

section {
    padding: var(--section-padding);
}

hr {
    width: 90vw;
    margin: 1rem auto;
}

button {
    position: absolute;
    width: 9rem;
    height: 3.8rem;
    border: none;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    background: var(--teal-color);
    color: var(--light-green-color);
    border-radius: 10px;
    z-index: 5; /* Ensure buttons are above other elements */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: var(--light-green-color);
    color: var(--dark-color);
    transform: scale(1.1);
}

/* Bounce Animation */
.bounce:hover {
    animation: bounce 1.5s ease;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-8px);
    }
}
